{
    "useTabs": false,
    "singleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "tabWidth": 4,
    "semi": true,
    "printWidth": 80,
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-svelte"],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
